.card {
   color: white;
   width: 235px;
   height: 300px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;

   &-top {
      padding: 20px;
      height: 70%;

      &__info {
         display: flex;
         justify-content: space-between;
         align-items: center;

         &_promo {
            font-size: 22px;
            font-weight: bold;
            color: #00ff00;
         }

         &_like {
            cursor: pointer;

            .heart {
               width: 25px;
               height: 25px;

               :hover {
                  color: red;
               }
            }
         }
      }
   }
   
   &-bottom {
      height: 30%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__info {

         &_name {}
         &_price {
            color: #00ff00;
         }
      }

      &__btn {
         cursor: pointer;
         background: rgba(255, 53, 3, .3);
         color: #ff3503;
         border: none;
         padding: 5px 10px;
         border-radius: 10px;
         font-weight: bold;

         span {
            margin-left: 10px;
            color: #8A2BE2;
            padding: 5px;
            border-radius: 50%;
            text-align: center;
         }
      }
   }
}