.footer {
   margin-top: auto;

   &-wrap {
      display: flex;
      justify-content: flex-end;
      padding: 20px 0;
      border-width: 1px;
      border-style: solid;
      border-image: linear-gradient(to right, blueviolet, red);
      border-image-slice: 1;
      border-right: none;
      border-left: none;
      border-bottom: none;
   
      ul {
         display: flex;
         flex-direction: column;
         align-items: flex-end;
         gap: 10px;
         margin-right: 80px;
         color: white;
         list-style: none;

         li:hover {
            cursor: pointer;
            text-decoration: underline;
         }
      }    
   }
}