.nav {
   padding: 20px 0;

   &-wrap {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__logo {

         &_link {
            display: block;
            width: 110px;
            color: red;
            font-size: 24px;
            line-height: 18px;
            text-decoration: none;
         }

         span {
            margin-left: 40px;
            color: blueviolet;
         }
      }
      &__links {

         ul {
            display: flex;
            align-items: center;
            gap: 30px;

            .basket-link {
               display: flex;
               align-items: center;
               gap: 10px;
               color: #fff;
               padding: 5px 10px;
               background: #424242;
               border-radius: 10px;

               div {
                  padding-right: 10px;
                  border-right: 1px solid grey;
                  color: #00ff00;
               }
            }

            li {
               font-size: 20px;
               list-style: none;

               .link {
                  text-decoration: none;
                  color: white;

                  &:hover {
                     color: blueviolet;
                  }

                  &.active {
                     color: blueviolet;
                  }
               }

               .basket {
                  width: 25px;
                  height: 25px;
                  color: white;
                  cursor: pointer;

                  &:hover {
                     color: blueviolet;
                  }
               }
            }
         }
      }

      &__theme-btn {
         border-radius: 50%;
         background: none;
         border: 1px solid blueviolet;
         padding: 10px;
         cursor: pointer;
         font-weight: bold;
      }

      &__btn {
         height: 30px;
         background: none;
         border: none;
         border-radius: 5px;
         color: white;

         .profile {
            width: 25px;
            height: 25px;
            cursor: pointer;

            &:hover {
               color: blueviolet;
            }
         }
      }
   }
}